.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mainBody{
  height: 100vw;
}

.sec1{
  font-size: 5vw;
  font-weight: lighter;
  text-decoration-line: underline;
  text-decoration-color: #6c2ea6;
  position:absolute;
  top: 75vw;
  left:2vw;
}

.sec1sub{
  font-size: 1vw;
  border: 1px #6c2ea6;
  border-style: solid;
  padding: 1vw;
  position:absolute;
  top: 87vw;
  left:2vw;

}

.nav{
  position:fixed;
  top:0px;
  background-color: #a161fb49;
  width: 100%;
  height: 4vw;
}

.homeButton{
  width: 4vw;
  height: 4vw;
  position: absolute;
  top: 0vw;
  left: 2vw;
}

.hbText{
  visibility: hidden;
  font-size: 2vw;
  font-weight: lighter;
  position: absolute;
  top: -1.5vw;
  left: 7vw;
}


.hb:hover .hbText{
  visibility: visible;
}

.contactDrop{
  display: inline-block;
  position:absolute;
  top: -1.5vw;
  right: 5vw;
}

.contact{
  font-size: 1.5vw;
  font-weight: lighter;
  font-variant: small-caps;
  border: 2px #fbfbfb;
  background-color: #6c2ea6;
  border-style: solid;
  padding-inline: 2vw;
  
}

.contact:hover{
  background-color: #d3337b;
}

.contactLinks{
  display: none;
  font-size: 1.5vw;
  font-weight: lighter;
  font-variant: small-caps;
  border: 1px #fbfbfb;
  background-color: #bb7ff2;
  border-style: solid;
  padding-inline: 2vw;
  position: relative;
  top: -2.5vw;
 
}

.contactLinks a{
  display: block;
}

.contactLinks a:hover{
  text-decoration: underline;
  text-decoration-color: #b3224b;
}

.contactDrop:hover .contactLinks{
  display:block;
}

a{
  text-decoration: none;
}

.photo{
  position: absolute;
  top: 8vw;
  left: 25vw;
  width:40vw;
  height:30vw;
}

.link{
  position: relative;
  right: -15px;
  font-size: 1vw;
  font-weight:lighter;
  font-variant: small-caps;
  border: 2px #fbfbfb;
  border-radius: 100px;
  border-style: double;
  padding: 7px;
}

.link:hover{
 font-style: italic;
  
}

.Intro{
  font-size: 8vw;
  color: #0a002c;
  text-align: left;
  font-weight: lighter;
  position: absolute;
  top: 1vw;
  left: 8vw
}

.Intro2{
  font-size: 11vw;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0a002c;
  position: absolute;
  top: 21vw;
  left: 6vw;
}

.Sides{
  color:#0a002c;
  text-align: right;
  font-size: 1.5vw;
  position: absolute;
  top: 25vw;
  right: 10vw;
}

.circles{
  position: absolute;
  top: 45vw;
  left: 2vw;

}

.circle1{
  height: 20vw;
  width: 20vw;
  border-radius: 300px;
  background-color: #8e41d2;
  display: inline-block;
  position: inherit;
  left: 0vw;

}

.circle2{
  height: 20vw;
  width: 20vw;
  border-radius: 300px;
  background-color: #e33c4d;
  display: inline-block;
  position: inherit;
  left: 25vw;
}

.circle3{
  height: 20vw;
  width: 20vw;
  border-radius: 300px;
  background-color: #f6b336;
  display: inline-block;
  position: inherit;
  left: 50vw;
  
}

.circle4{
  height: 20vw;
  width: 20vw;
  border-radius: 300px;
  background-color: #3524d3;
  display: inline-block;
  position: inherit;
  left: 76vw;
 
}

.circle1:hover{
  transform: scale(1.2);
  font-style: italic;
}

.circle2:hover{
  transform: scale(1.2);
  font-style: italic;
}

.circle3:hover{
  transform: scale(1.2);
  font-style: italic;
}

.circle4:hover{
  transform: scale(1.2);
  font-style: italic;
}

.About{
  color:#e467a1;
  font-size: 3vw;
  font-weight: bolder;
  position: absolute;
  top: 5vw;
  left: 3vw;
}

.Projects{
  color:#f7bd87;
  font-size: 3vw;
  font-weight: bolder;
  position: inherit;
  top: 5vw;
  left: 4vw;
}

.Work{
  color:#9431cd;
  font-size: 3vw;
  font-weight: bolder;
  position: inherit;
  top: 5vw;
  left: 2vw;
}

.Extra{
  color:#e46776;
  font-size: 3vw;
  font-weight: bolder;
  position: inherit;
  top: 5vw;
  left: 6vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background: linear-gradient(135deg, #e34974, #fc9a8d, #6c2ea6);
  height: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
